---
title: Enjin permainan boksel bersumber terbuka
layout: default
homepage: true
redirect_from:
  - /screenshots/
---

<section class="section section-home">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 is-9-desktop is-8-widescreen is-7-fullhd">
        <h1 class="title">Minetest</h1>
        <p class="home-paragraph">
          Sebuah enjin permainan boksel bersumber terbuka.
          Mainlah salah sebuah daripada permainan kami yang pelbagai, ubahlah permainan menggunakan mods mengikut citarasa, ciptalah permainan anda sendiri,
          atau mainlah di pelayan pemain ramai.
        </p>
        <p class="home-paragraph">
          Boleh didapati untuk Windows, macOS, GNU/Linux, FreeBSD, OpenBSD, DragonFly BSD, dan Android.
        </p>
        <div class="home-buttons">
          <a class="button is-info is-size-5" href="#ciri-ciri">Beritahu lebih lanjut</a>
          <a class="button is-primary is-size-5" href="/downloads/">Muat turun</a>
        </div>
        <p class="is-size-6">
          <span class="has-text-weight-bold">Berita:</span> versi 5.2.0 diterbitkan. (5 April 2020)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="ciri-ciri" class="title section-title">Ciri-ciri</h2>
    <div class="columns is-centered">
      {% for category_hash in site.data.features %}
      {% comment %}
        Penyerahhakan berikut diperlukan untuk membolehkan proses lelaran di cincangan bersarang.
      {% endcomment %}
      {% assign category = category_hash[1] %}

      <div class="column is-6 is-5-widescreen is-4-fullhd">
        <h3 class="title is-size-3 has-text-centered">{{ category.title }}</h3>

        {% for feature in category.features %}
        <h4 class="title feature-title">{{ feature.title }}</h4>
        {{ feature.description | markdownify }}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="galeri" class="title section-title">Galeri</h2>
    <div class="columns is-multiline">
      {% comment %}
        Nama fail imej kecil didatangkan daripada nama imej.
        Sebagai contoh, imej kecil untuk imej bernama `foo.jpg` akan dinamakan sebagai `foo-thumb.jpg`.
      {% endcomment %}

      {% for image in site.data.gallery %}
      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <a href="{{ image.image | relative_url }}">
                <img src="{{ image.image | replace: ".", "-thumb." | relative_url }}" alt="{{ image.title }}">
              </a>
            </figure>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
