<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">Minetest</h5>
        <ul class="list-unstyled">
          <li><a href="/#ciri-ciri">Ciri-Ciri</a></li>
          <li><a href="/#galeri">Galeri</a></li>
          <li><a href="/downloads/">Muat Turun</a></li>
          <li><a href="https://forum.minetest.net/viewforum.php?f=18">Berita</a></li>
          <li><a href="/credits/">Penghargaan</a></li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">Kandungan</h5>
        <ul class="list-unstyled">
          <li><a href="https://content.minetest.net">ContentDB</a></li>
          <li><a href="/customize/#ditampilkan">Ditampilkan</a></li>
          <li><a href="https://content.minetest.net/packages/?type=game">Permainan</a></li>
          <li><a href="https://content.minetest.net/packages/?type=mod">Mods</a></li>
          <li><a href="https://content.minetest.net/packages/?type=txp">Pek Tekstur</a></li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">Komuniti</h5>
        <ul class="list-unstyled">
          <li><a href="https://forum.minetest.net">Forum</a></li>
          <li><a href="/irc/">IRC</a></li>
          <li><a href="/servers/">Pelayan</a></li>
          <li><a href="https://wiki.minetest.net/Main_Page/ms">Wiki Pemain</a></li>
          <li><a href="https://reddit.com/r/minetest/">Subreddit</a></li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">Pembangunan</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/minetest/minetest">GitHub</a></li>
          <li><a href="/irc/">#minetest-dev di IRC Freenode</a></li>
          <li><a href="https://dev.minetest.net">Wiki Pembangun</a></li>
          <li><a href="https://minetest.gitlab.io/minetest/">API Lua</a></li>
          <li><a href="/get-involved/#derma">Derma</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    Kandungan asal © 2015-{{ site.time | date: '%Y' }} The Minetest Team.
    <a href="https://github.com/minetest/minetest.github.io">Sumber asal</a><br />
    Terjemahan Melayu © 2020-{{ site.time | date: '%Y' }} Yaya MNH48.
    <a href="https://github.com/mnh48-minetest/minetest.mnh48.moe">Sumber terjemahan</a><br />
    Dilesenkan bawah MIT untuk kod asal dan kod terjemahan, CC-BY-SA 3.0 untuk media dan kandungan asal dan terjemahan.
    Ikon Font Awesome dilesenkan di bawah <a href="https://fontawesome.com/license">CC-BY 4.0</a>.
  </div>
</footer>
