<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title"><ruby>Minetest<rt>ماءينتيست</rt></ruby></h5>
        <ul class="list-unstyled">
          <li><a href="/#چيري٢">چيري٢</a></li>
          <li><a href="/#ݢالري">ݢالري</a></li>
          <li><a href="/downloads/">موات تورون</a></li>
          <li><a href="https://forum.minetest.net/viewforum.php?f=18">بريتا</a></li>
          <li><a href="/credits/">ڤڠهرݢاءن</a></li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">کندوڠن</h5>
        <ul class="list-unstyled">
          <li><a href="https://content.minetest.net">ContentDB</a> (کونتينت ديبي)</li>
          <li><a href="/customize/#دتمڤيلکن">دتمڤيلکن</a></li>
          <li><a href="https://content.minetest.net/packages/?type=game">ڤرماءينن</a></li>
          <li><a href="https://content.minetest.net/packages/?type=mod">مودس</a></li>
          <li><a href="https://content.minetest.net/packages/?type=txp">ڤيک تيکستور</a></li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">کومونيتي</h5>
        <ul class="list-unstyled">
          <li><a href="https://forum.minetest.net">فوروم</a></li>
          <li><a href="/irc/">IRC</a> (اولڠ سيمبڠ اينترنيت)</li>
          <li><a href="/servers/">ڤلاين</a></li>
          <li><a href="https://wiki.minetest.net/Main_Page/ms">ويکي ڤماءين</a></li>
          <li><a href="https://reddit.com/r/minetest/">Subreddit</a> (سوبريدديت)</li>
        </ul>
      </div>

      <div class="column is-6 is-3-desktop">
        <h5 class="footer-title">ڤمباڠونن</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/minetest/minetest">GitHub</a> (ݢيتهب)</li>
          <li><a href="/irc/">#minetest-dev دIRC (اولڠ سيمبڠ اينترنيت) Freenode (فرينود)</a></li>
          <li><a href="https://dev.minetest.net">ويکي ڤمباڠون</a></li>
          <li><a href="https://minetest.gitlab.io/minetest/">API (انتاراموک ڤڠاتورچاراءن اڤليکاسي) Lua (لوا)</a></li>
          <li><a href="/get-involved/#درما">درما</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    کندوڠن اصل © 2015-{{ site.time | date: '%Y' }} <ruby>The Minetest Team<rt>دى ماءينتيست تيۤم</rt></ruby>.
    <a href="https://github.com/minetest/minetest.github.io">سومبر اصل</a><br />
    ترجمهن ملايو © 2020-{{ site.time | date: '%Y' }} <ruby>Yaya<rt>يايا</rt></ruby> MNH48.
    <a href="https://github.com/mnh48-minetest/minetest.mnh48.moe">سومبر ترجمهن</a><br />
    دليسينکن باواه MIT اونتوق کود اصل دان کود ترجمهن⹁ CC-BY-SA 3.0 اونتوق ميديا دان کندوڠن اصل دان ترجمهن.
    ايکون Font Awesome دليسينکن دباواه <a href="https://fontawesome.com/license">CC-BY 4.0</a>.
  </div>
</footer>
