<noscript>
  <p>
    <img src="https://stats.minetest.net/piwik.php?idsite=1" style="border:0;" alt="" data-proofer-ignore>
  </p>
</noscript>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        <img alt="Logo Minetest" src="/media/icon.svg">
        <div class="has-text-weight-bold navbar-brand-text"><ruby>Minetest<rt>ماينتيست</rt></ruby></div>
      </a>
      
      <a class="navbar-item" href="https://www.minetest.net{{page.url}}" lang="en" title="ڤرݢي کلامن ويب بهاس ايڠݢريس">
        <div class="navbar-brand-text">English</div>
      </a>
      
      <a class="navbar-item" href="https://mtjawi.mnh48.moe{{page.url}}" lang="ms" title="ڤرݢي کلامن ويب بهاس ملايو برتوليسن رومي">
        <div class="navbar-brand-text">Bahasa&nbsp;Melayu </div>
      </a>
      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/#چيري٢' | relative_url }}">چيري٢</a>
        <a class="navbar-item" href="{{ '/#ݢالري' | relative_url }}">ݢالري</a>
        <a class="navbar-item" href="{{ '/downloads/' | relative_url }}">موات تورون</a>
        <a class="navbar-item" href="{{ '/customize/' | relative_url }}">اوبه سواي</a>
        <a class="navbar-item" href="{{ '/get-involved/' | relative_url }}">ايکوت سرتا</a>
      </div>
    </div>
  </div>
</nav>
