<noscript>
  <p>
    <img src="https://stats.minetest.net/piwik.php?idsite=1" style="border:0;" alt="" data-proofer-ignore>
  </p>
</noscript>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        <img alt="Logo Minetest" src="/media/icon.svg">
        <div class="has-text-weight-bold navbar-brand-text">Minetest</div>
      </a>
      
      <a class="navbar-item" href="https://www.minetest.net{{page.url}}" lang="en" title="Pergi ke laman web bahasa Inggeris">
        <div class="navbar-brand-text">English</div>
      </a>
      
      <a class="navbar-item" href="https://mtjawi.mnh48.moe{{page.url}}" lang="ms-Arab" title="Pergi ke laman web bahasa Melayu bertulisan Jawi">
        <div class="navbar-brand-text">بهاس ملايو</div>
      </a>
      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/#ciri-ciri' | relative_url }}">Ciri-Ciri</a>
        <a class="navbar-item" href="{{ '/#galeri' | relative_url }}">Galeri</a>
        <a class="navbar-item" href="{{ '/downloads/' | relative_url }}">Muat Turun</a>
        <a class="navbar-item" href="{{ '/customize/' | relative_url }}">Ubah Suai</a>
        <a class="navbar-item" href="{{ '/get-involved/' | relative_url }}">Ikut Serta</a>
      </div>
    </div>
  </div>
</nav>
